<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
	</aside>
  <div class="span8">
    <% if @user.tasks.any? %>
      <h3>Tasks (<%= @user.tasks.count %>)</h3>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
  </div>
</div>